.card {
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  width: 200px;
  height: 300px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

.card h3 {
  margin: 1rem 0;
}