.search-container {
  display: flex;
}

.search-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  fill: #fff;
}

.search-icon:hover{
  transform: scale(1.1);
  fill: #e50914;
}

.search-icon:active {
  transform: scale(0.94);
}